<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body>
    <h1>test</h1>
    <canvas id="line-chart" width="800" height="450"></canvas>
    <script>
        var json1 = {
            "Sensors" : {
                "Battery 1_1" : "12.9794", 
                "Battery 1_2" : "13.6447", 
                "Battery 1_3" : "13.5934", 
                "Battery 1_4" : "13.6738", 
                "Current 1" : "0.4", 
                "Battery 2_1" : "13.4067", 
                "Battery 2_2" : "13.4700", 
                "Battery 2_3" : "13.4762", 
                "Battery 2_4" : "13.5022", 
                "Current 2" : "-0.3"
            }, 
            "time" : "2022-04-13T01:13:16.887+0000"
        }
        console.log(json1.Sensors)
        {{!-- const ctx = document.getElementById('line-chart'); --}}
        new Chart(document.getElementById("line-chart"), {
            type: 'line',
            data: {
                labels: [1500,1600,1700,1750,1800,1850,1900,1950,1999,2050],
                datasets: [{ 
                    data: [86,114,106,106,107,111,133,221,783,2478],
                    label: "Africa",
                    borderColor: "#3e95cd",
                    fill: false
                }, { 
                    data: [282,350,411,502,635,809,947,1402,3700,5267],
                    label: "Asia",
                    borderColor: "#8e5ea2",
                    fill: false
                }, { 
                    data: [168,170,178,190,203,276,408,547,675,734],
                    label: "Europe",
                    borderColor: "#3cba9f",
                    fill: false
                }, { 
                    data: [40,20,10,16,24,38,74,167,508,784],
                    label: "Latin America",
                    borderColor: "#e8c3b9",
                    fill: false
                }, { 
                    data: [6,3,2,2,7,26,82,172,312,433],
                    label: "North America",
                    borderColor: "#c45850",
                    fill: false
                }
                ]
            },
            options: {
                title: {
                display: true,
                text: 'World population per region (in millions)'
                }
            }
            });
        
    </script>

</body>

</html>